# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt


# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

/target
/.settings
.classpath
.project

#Personel tools
*.py
download.json
minecraft/minecraft.jar